<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>NewServlet</servlet-name>
        <servlet-class>controller.NewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewServlet1</servlet-name>
        <servlet-class>controller.statisticsAndReporting.NewServlet1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CurrentInventoryServlet</servlet-name>
        <servlet-class>controller.statisticsAndReporting.CurrentInventoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateImportReceiptServlet</servlet-name>
        <servlet-class>controller.warehouseImportMgt.CreateImportReceiptServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductLookupServlet</servlet-name>
        <servlet-class>controller.warehouseImportMgt.ProductLookupServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CategoryLookupServlet</servlet-name>
        <servlet-class>controller.warehouseImportMgt.CategoryLookupServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ImportExportStatsServlet</servlet-name>
        <servlet-class>controller.statisticsAndReporting.ImportExportStatsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ImportReceiptListServlet</servlet-name>
        <servlet-class>controller.warehouseImportMgt.ImportReceiptListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateExportReceiptServlet</servlet-name>
        <servlet-class>controller.warehouseExportMgt.CreateExportReceiptServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExportReceiptListServlet</servlet-name>
        <servlet-class>controller.warehouseExportMgt.ExportReceiptListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExportReceiptDetailServlet</servlet-name>
        <servlet-class>controller.warehouseExportMgt.ExportReceiptDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ImportReceiptDetailServlet</servlet-name>
        <servlet-class>controller.warehouseImportMgt.ImportReceiptDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CategoryManagementServlet</servlet-name>
        <servlet-class>controller.warehouseManagement.CategoryManagementServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RevenueReportServlet</servlet-name>
        <servlet-class>controller.statisticsAndReporting.RevenueReportServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewSuppliersListServlet</servlet-name>
        <servlet-class>controller.supplierMgt.ViewSuppliersListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateSupplierServlet</servlet-name>
        <servlet-class>controller.supplierMgt.CreateSupplierServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditSupplierServlet</servlet-name>
        <servlet-class>controller.supplierMgt.EditSupplierServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteSupplierServlet</servlet-name>
        <servlet-class>controller.supplierMgt.DeleteSupplierServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewSupplierDetailServlet</servlet-name>
        <servlet-class>controller.supplierMgt.ViewSupplierDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductManagementServlet</servlet-name>
        <servlet-class>controller.warehouseManagement.ProductManagementServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddCategoryServlet</servlet-name>
        <servlet-class>controller.warehouseManagement.AddCategoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCategoryServlet</servlet-name>
        <servlet-class>controller.warehouseManagement.DeleteCategoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActivityLogServlet</servlet-name>
        <servlet-class>controller.ActivityLogServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductVariantsServlet</servlet-name>
        <servlet-class>controller.statisticsAndReporting.ProductVariantsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminDashboardServlet</servlet-name>
        <servlet-class>controller.dashboard.AdminDashboardServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagerDashboardServlet</servlet-name>
        <servlet-class>controller.dashboard.ManagerDashboardServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ImportStatisticsServlet</servlet-name>
        <servlet-class>controller.warehouseImportMgt.ImportStatisticsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExportStatisticsServlet</servlet-name>
        <servlet-class>controller.warehouseExportMgt.ExportStatisticsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffDashboardServlet</servlet-name>
        <servlet-class>controller.dashboard.StaffDashboardServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ViewSuppliersListServlet</servlet-name>
        <url-pattern>/suppliers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateSupplierServlet</servlet-name>
        <url-pattern>/suppliers/new</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditSupplierServlet</servlet-name>
        <url-pattern>/suppliers/edit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteSupplierServlet</servlet-name>
        <url-pattern>/suppliers/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewSupplierDetailServlet</servlet-name>
        <url-pattern>/suppliers/view</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ExportReportServlet</servlet-name>
        <servlet-class>controller.statisticsAndReporting.ExportReportServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NewServlet</servlet-name>
        <url-pattern>/new</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewServlet1</servlet-name>
        <url-pattern>/new1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CurrentInventoryServlet</servlet-name>
        <url-pattern>/current-inventory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateImportReceiptServlet</servlet-name>
        <url-pattern>/createImportReceipt</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductLookupServlet</servlet-name>
        <url-pattern>/api/product-lookup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CategoryLookupServlet</servlet-name>
        <url-pattern>/api/category-lookup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImportExportStatsServlet</servlet-name>
        <url-pattern>/import-export-stats</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImportReceiptListServlet</servlet-name>
        <url-pattern>/warehouse-import-mgt/import-receipt-list</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImportReceiptDetailServlet</servlet-name>
        <url-pattern>/warehouse-import-mgt/import-receipt-detail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExportReceiptListServlet</servlet-name>
        <url-pattern>/warehouse-export-mgt/export-receipt-list</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExportReceiptDetailServlet</servlet-name>
        <url-pattern>/warehouse-export-mgt/export-receipt-detail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateExportReceiptServlet</servlet-name>
        <url-pattern>/createExportReceipt</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CategoryManagementServlet</servlet-name>
        <url-pattern>/warehouse-management/category-management</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RevenueReportServlet</servlet-name>
        <url-pattern>/revenue-report</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExportReportServlet</servlet-name>
        <url-pattern>/export-report</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductManagementServlet</servlet-name>
        <url-pattern>/warehouse-management/product-management</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddCategoryServlet</servlet-name>
        <url-pattern>/warehouse-management/add-category</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCategoryServlet</servlet-name>
        <url-pattern>/warehouse-management/delete-category</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActivityLogServlet</servlet-name>
        <url-pattern>/activity-log</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductVariantsServlet</servlet-name>
        <url-pattern>/api/product-variants</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminDashboardServlet</servlet-name>
        <url-pattern>/adminDashboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagerDashboardServlet</servlet-name>
        <url-pattern>/managerDashboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImportStatisticsServlet</servlet-name>
        <url-pattern>/warehouse-import-mgt/import-statistics</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExportStatisticsServlet</servlet-name>
        <url-pattern>/warehouse-export-mgt/export-statistics</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffDashboardServlet</servlet-name>
        <url-pattern>/staffDashboard</url-pattern>
    </servlet-mapping>
</web-app>
